openapi: 3.0.0
info:
  title: FFIEC CDR Public Web Service REST API
  description: |
    REST API for accessing FFIEC Call Report and UBPR data.
    This API requires OAuth2 Bearer token authentication with tokens valid for 90 days.
    
    Base URL: https://ffieccdr.azure-api.us/public
    
    CRITICAL: ALL parameters are passed as HTTP headers, NOT query parameters!
    
    Authentication Headers Required:
    - UserID: Your FFIEC PWS username (note capital 'ID')
    - Authentication: Bearer {token} (NOT Authorization)
    
    Based on official FFIEC document: CDR-PDD-SIS-611 v1.10
  version: 1.10.0
  contact:
    name: FFIEC CDR Support
    url: https://cdr.ffiec.gov/public/PWS/Home.aspx

servers:
  - url: https://ffieccdr.azure-api.us/public
    description: Production REST API server

paths:
  /RetrieveReportingPeriods:
    get:
      summary: Retrieve available reporting periods for Call data series
      description: This method retrieves a list of all reporting period end dates available for the Call data series.
      operationId: retrieveReportingPeriods
      parameters:
        - name: UserID
          in: header
          required: true
          schema:
            type: string
          description: FFIEC PWS username
          example: "PWSUser101"
        - name: Authentication
          in: header
          required: true
          schema:
            type: string
          description: User's security token with "Bearer " preceding it
          example: "Bearer eyJhbGciOiJub25lIiwi..."
        - name: dataSeries
          in: header
          required: true
          schema:
            type: string
            enum: ["Call"]
          description: Data series name (must be "Call")
          example: "Call"
      responses:
        '200':
          description: List of reporting periods
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  pattern: ^\d{1,2}/\d{1,2}/\d{4}$
                example:
                  - "12/31/2023"
                  - "09/30/2023"
                  - "06/30/2023"
        '401':
          description: Authentication failed
        '403':
          description: Forbidden - invalid token or headers
        '429':
          description: Rate limit exceeded (2500 requests/hour)
  
  /RetrievePanelOfReporters:
    get:
      summary: Retrieve Panel of Reporters for a reporting period
      description: This method retrieves information for the financial institutions in the Panel of Reporters (POR) expected to file for a given Call reporting period.
      operationId: retrievePanelOfReporters
      parameters:
        - name: UserID
          in: header
          required: true
          schema:
            type: string
          description: FFIEC PWS username
        - name: Authentication
          in: header
          required: true
          schema:
            type: string
          description: Bearer token with "Bearer " prefix
        - name: dataSeries
          in: header
          required: true
          schema:
            type: string
            enum: ["Call"]
          description: Data series name (must be "Call")
        - name: reportingPeriodEndDate
          in: header
          required: true
          schema:
            type: string
            pattern: ^\d{1,2}/\d{1,2}/\d{4}$
          description: Date string of the reporting period end date (MM/DD/YYYY)
          example: "03/31/2025"
      responses:
        '200':
          description: List of filers
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    ID_RSSD:
                      type: integer
                      example: 724904
                    FDICCertNumber:
                      type: integer
                      example: 27417
                    OCCChartNumber:
                      type: integer
                      example: 712504
                    OTSDockNumber:
                      type: integer
                      example: 12504
                    PrimaryABARoutNumber:
                      type: integer
                      example: 211574862
                    Name:
                      type: string
                      example: "SHOREHAM BANK"
                    State:
                      type: string
                      example: "RI"
                    City:
                      type: string
                      example: "WARWICK"
                    Address:
                      type: string
                      example: "ONE SHOREHAM WAY"
                    ZIP:
                      type: integer
                      example: 02886
                    FilingType:
                      type: string
                      example: "051"
                    HasFiledForReportingPeriod:
                      type: boolean
                      example: true
        '403':
          description: Forbidden
        '500':
          description: Server error
  
  /RetrieveFilersSinceDate:
    get:
      summary: Retrieve filers since a specific date
      description: This method retrieves a list of ID RSSDs for financial institutions that have filed for the given reporting period after the provided lastUpdateDateTime and whose new filings are available for public distribution.
      operationId: retrieveFilersSinceDate
      parameters:
        - name: UserID
          in: header
          required: true
          schema:
            type: string
          description: FFIEC PWS username
        - name: Authentication
          in: header
          required: true
          schema:
            type: string
          description: Bearer token with "Bearer " prefix
        - name: dataSeries
          in: header
          required: true
          schema:
            type: string
            enum: ["Call"]
          description: Data series name (must be "Call")
        - name: reportingPeriodEndDate
          in: header
          required: true
          schema:
            type: string
            pattern: ^\d{1,2}/\d{1,2}/\d{4}$
          description: Date string of the reporting period end date (MM/DD/YYYY)
          example: "03/31/2025"
        - name: lastUpdateDateTime
          in: header
          required: true
          schema:
            type: string
          description: Date (and optional time) string for when the reports were last filed
          example: "04/15/2025"
      responses:
        '200':
          description: List of filers since date
          content:
            application/json:
              schema:
                type: array
                items:
                  type: integer
                  description: ID_RSSD
                example:
                  - 1474309
                  - 540739
                  - 91086
        '403':
          description: Forbidden
        '500':
          description: Server error
  
  /RetrieveFilersSubmissionDateTime:
    get:
      summary: Retrieve filers with submission timestamps
      description: This method retrieves the ID RSSDs and submission date and time of the reporters who have filed after the provided lastUpdateDateTime and whose new filings are available for public distribution.
      operationId: retrieveFilersSubmissionDateTime
      parameters:
        - name: UserID
          in: header
          required: true
          schema:
            type: string
          description: FFIEC PWS username
        - name: Authentication
          in: header
          required: true
          schema:
            type: string
          description: Bearer token with "Bearer " prefix
        - name: dataSeries
          in: header
          required: true
          schema:
            type: string
            enum: ["Call"]
          description: Data series name (must be "Call")
        - name: reportingPeriodEndDate
          in: header
          required: true
          schema:
            type: string
            pattern: ^\d{1,2}/\d{1,2}/\d{4}$
          description: Date string of the reporting period end date (MM/DD/YYY)
          example: "03/31/2025"
        - name: lastUpdateDateTime
          in: header
          required: true
          schema:
            type: string
          description: Date (and optional time) string for when the reports were last filed. (MM/DD/YYYY)
          example: "04/15/2025"
      responses:
        '200':
          description: List of filers with submission times
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    ID_RSSD:
                      type: integer
                      example: 723158
                    DateTime:
                      type: string
                      example: "7/1/2025 6:17:33 PM"
        '403':
          description: Forbidden
        '500':
          description: Server error
  
  /RetrieveFacsimile:
    get:
      summary: Retrieve individual bank facsimile data
      description: |
        This method retrieves a byte array stream of the requested facsimile file. 
        The client must de-serialize the stream into a file in its local file system. 
        SDF text files can be viewed and modified using spreadsheet or database software 
        (e.g., Excel, Access) or with a text editor (e.g., NotePad). 
        XBRL files require an XBRL editor.
      operationId: retrieveFacsimile
      parameters:
        - name: UserID
          in: header
          required: true
          schema:
            type: string
          description: FFIEC PWS username
        - name: Authentication
          in: header
          required: true
          schema:
            type: string
          description: Bearer token with "Bearer " prefix
        - name: dataSeries
          in: header
          required: true
          schema:
            type: string
            enum: ["Call"]
          description: Data series name (must be "Call")
        - name: reportingPeriodEndDate
          in: header
          required: true
          schema:
            type: string
            pattern: ^\d{1,2}/\d{1,2}/\d{4}$
          description: Date string of the reporting period end date (MM/DD/YYYY)
          example: "03/31/2025"
        - name: fiIdType
          in: header
          required: true
          schema:
            type: string
            enum: ["ID_RSSD", "FDICCertNumber", "OCCChartNumber", "OTSDockNumber"]
          description: The type of identifier being provided
          example: "ID_RSSD"
        - name: fiId
          in: header
          required: true
          schema:
            type: string
          description: The financial institution's identifier
          example: "480228"
        - name: facsimileFormat
          in: header
          required: true
          schema:
            type: string
            enum: ["PDF", "XBRL", "SDF"]
          description: The report format to retrieve
          example: "XBRL"
      responses:
        '200':
          description: Facsimile file data
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '403':
          description: Forbidden
        '404':
          description: No data found for specified parameters
        '500':
          description: Server error
  
  /RetrieveUBPRReportingPeriods:
    get:
      summary: Retrieve UBPR reporting periods
      description: This method retrieves a list of all reporting period end dates available for the UBPR data series.
      operationId: retrieveUBPRReportingPeriods
      parameters:
        - name: UserID
          in: header
          required: true
          schema:
            type: string
          description: FFIEC PWS username
        - name: Authentication
          in: header
          required: true
          schema:
            type: string
          description: Bearer token with "Bearer " prefix
      responses:
        '200':
          description: List of UBPR reporting periods
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  pattern: ^\d{1,2}/\d{1,2}/\d{4}$
                example:
                  - "12/31/2023"
                  - "09/30/2023"
        '403':
          description: Forbidden
        '500':
          description: Server error
  
  /RetrieveUBPRXBRLFacsimile:
    get:
      summary: Retrieve UBPR XBRL facsimile
      description: |
        Call to retrieve a byte array stream of the requested XBRL instance document. 
        The client must de-serialize the stream into a file in its local file system. 
        XBRL files require an XBRL editor.
      operationId: retrieveUBPRXBRLFacsimile
      parameters:
        - name: UserID
          in: header
          required: true
          schema:
            type: string
          description: FFIEC PWS username
        - name: Authentication
          in: header
          required: true
          schema:
            type: string
          description: Bearer token with "Bearer " prefix
        - name: reportingPeriodEndDate
          in: header
          required: true
          schema:
            type: string
            pattern: ^\d{1,2}/\d{1,2}/\d{4}$
          description: Date string of the reporting period end date (MM/DD/YYYY)
          example: "03/31/2025"
        - name: fiIdType
          in: header
          required: true
          schema:
            type: string
            enum: ["ID_RSSD", "FDICCertNumber", "OCCChartNumber", "OTSDockNumber"]
          description: The type of identifier being provided
          example: "ID_RSSD"
        - name: fiId
          in: header
          required: true
          schema:
            type: string
          description: The financial institution's identifier
          example: "480228"
      responses:
        '200':
          description: UBPR XBRL data
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '403':
          description: Forbidden
        '404':
          description: No data found
        '500':
          description: Server error

components:
  schemas:
    Error:
      type: object
      properties:
        Message:
          type: string
          description: Error message
        Code:
          type: integer
          description: Error code